body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: khaki;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.botones {
  background-color: lightsalmon;
  border-radius: 10px;
  width: 150px;
  height: 70px;
  margin-left: 460px;
  margin-right: 50px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  border-color: lavender;
  text-transform: capitalize;
}

.titulo {
  align-self: center;
  color: mediumturquoise;
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
}
.anecdotas {
  font-size: 30px;
  color:rgb(1, 128, 179);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.votos {
  font-size: 40px;
  color: darkcyan;
  padding-left: 800px;
}

