@import '../scss/index.scss';

.button {
  background-image: -webkit-linear-gradient(top, #65f0ff, #1e65ff);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
}
